
.carousel {
  width: 80% !important;
  padding:15px !important;
}

.carousel-slide {
  font-size: 18px;
  color:white;
  padding:15px;
  border-radius: 15px;
}

.carousel-slide:nth-child(2){
    box-shadow:-2px 7px 5px 5px #0a0a0a !important;
  -webkit-box-shadow:1px 1px 1px 2px #0e0e0e !important;
}

.carousel-slide p{
    margin:15px 0px;
    font-size:14px;
}

.carousel-slide div{
    display:flex;
    justify-content: space-between;
    margin:35px 5px 15px 5px;
    align-items: center;
}

.carousel-slide img {
  display: block;
  width: 100%;  
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
}

.carousel-slide {
  width: 50%;
}

.carousel-slide:nth-child(2n) {
  width: 65%;
  transform-origin: 50%;
}

.carousel-slide:nth-child(3n) {
  width: 50%;
}

.carousel .swiper-pagination{
    bottom:270px !important;
}

.carousel .swiper-pagination-bullet-active{
    background:white !important;
    width:20px;
    height:8px;
    border-radius: 20px;
}

.carousel .swiper-pagination-bullet{
  background: rgba(255, 255, 255, 0.5);

}

@media screen and (max-width:880px) {
  .carousel{
    padding-top:5px !important;
    width:100% !important;
  }

  .carousel-slide {
    width: 30%;
  }
  
  .carousel-slide:nth-child(2n) {
    width: 75%;
    transform-origin: 50%;
  }
  
  .carousel-slide:nth-child(3n) {
    width: 30%;
  }
  
}

@media screen and (max-width:670px) {
  .carousel-slide p{
    margin:15px 0px;
    font-size:12px;
}
.carousel-slide div{
  font-size: 12px;
}
.carousel-slide div button{
  font-size: 12px;
  font-weight:100;
}
}

@media screen and (max-width:570px) {
  .carousel-slide p{
    display: none;
}
.carousel-slide{
  margin-right: 5px !important;
}

.carousel-slide {
  width: 35%;
}

.carousel-slide:nth-child(2n) {
  width: 80%;
  transform-origin: 50%;
}

.carousel-slide:nth-child(3n) {
  width: 35%;
}

.carousel .swiper-pagination{
  bottom:130px !important;
}

}