
.carousel {
  width: 80% !important;
  height:100%;
  padding:65px 15px !important;
}

:root {
  --swiper-navigation-color: #fff;
  --swiper-navigation-size: 20px;
}

.swiper-button-prev, .swiper-button-next{
  z-index: 99999999;
  top:40%;
  height:30px ;
  width:30px ;
  background: rgba(49, 49, 49, 0.8);
}

.overlayleft{
  position:absolute;
  top:10%;
  left:-1%;
  width:25%;
  height:300px;
  -moz-box-shadow:     88px 0px 90px -10px #121212 inset;
   -webkit-box-shadow:  88px 0px 90px -10px #121212 inset;
   box-shadow:          88px 0px 90px -10px #121212 inset;
   z-index: 999999;
}

.overlayright{
  position:absolute;
  top:10%;
  right: -2%;
  width:25%;
  height:300px;
  -moz-box-shadow:     -88px 0px 90px -10px #121212 inset;
   -webkit-box-shadow:  -88px 0px 90px -10px #121212 inset;
   box-shadow:          -88px 0px 90px -10px #121212 inset;
   z-index: 999999;
}

.carousel-slide {
  font-size: 18px;
  color:white;
  padding:15px;
  border-radius: 15px;
  max-width:500px;
  /* background:#121212; */
}

.carousel-slide:nth-child(2){
    box-shadow:-2px 7px 5px 5px #0a0a0a !important;
  -webkit-box-shadow:1px 1px 1px 2px #0e0e0e !important;
  background: #121212;
}

.carousel-slide p{
    margin:15px 0px;
    font-size:14px;
}

.termsDiv{
    display:flex;
    justify-content: space-between;
    margin:35px 5px 15px 5px;
    align-items: center;
}

.carousel-slide img {
  display: block;
  width: 100%;  
  height:100%;
  border-radius: 5px;
}

.carousel-slide:nth-child(1) {
  width: 50%;
}

.carousel-slide:nth-child(2n) {
  width: 70%;
  transform-origin: 50%;
}

.carousel-slide:nth-child(3n) {
  width: 60%;
}

.carousel .swiper-pagination{
    bottom:290px;
}

.carousel .swiper-pagination-bullet-active{
    background:white !important;
    width:20px;
    height:8px;
    border-radius: 20px;
}

.carousel .swiper-pagination-bullet{
  background: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width:380px) {
  .termsDiv{
    font-size: 8px !important;
}
}

/* media query <=570px */
@media screen and (max-width:570px) {
  .carousel-slide p{
    display: none;
}
.carousel-slide{
  margin-right: 5px !important;
}

.carousel-slide {
  width: 35%;
}

.carousel-slide:nth-child(2n) {
  width: 70%;
}

.carousel-slide:nth-child(3n) {
  width: 45%;
}

.carousel .swiper-pagination{
  bottom:150px !important;
}

.overlayleft, .overlayright{
  display: none;
}

.swiper-button-prev, .swiper-button-next{
  display: none;
}


}

/* media 550px */
@media screen and (max-width:550px) {
  .carousel-slide {
    width: 80% !important;
  }
  
  .carousel-slide:nth-child(2n) {
    width: 80% !important;
  }
  
  .carousel-slide:nth-child(3n) {
    width: 80% !important;
  }
}

/* media query <=670px */
@media screen and (max-width:670px) {
  .carousel{
    padding-bottom:20px ;
  }

  .carousel-slide p{
    margin:15px 0px;
    font-size:12px;
}
  .termsDiv{
    font-size: 12px;
  }
  .termsDiv button{
    padding:2px 10px;
  }

  .termsDiv a{
    font-size:10px;
  }

  .overlayright, .overlayleft{
    height:200px;
  }

  .carousel-slide {
    width: 70%;
  }

  .carousel-slide:nth-child(2n) {
    width: 70%;
  }

  .carousel-slide:nth-child(3n) {
    width: 70%;
  }
}


/* media query <=880px */
@media screen and (max-width:880px) {
  .carousel{
    padding-top:5px !important;
    width:100% !important;
  }

  .carousel-slide {
    width: 50%;
  }
  
  .carousel-slide:nth-child(2n) {
    width: 50%;
  }
  
  .carousel-slide:nth-child(3n) {
    width: 50%;
  }
  .overlayright, .overlayleft{
    /* height:300px */
    top:2%;
  }

  .swiper-button-prev, .swiper-button-next{
    top:26%;
    height:30px ;
    width:30px ;
    background: rgba(49, 49, 49, 0.8);
  }
  
}

@media screen and (max-width:1100px){
  .termsDiv a{
    font-size: 13px;
  }

  .termsDiv button{
    font-size: 10px;
  }

  .carousel-slide{
    padding:8px;
  }

  .overlayright, .overlayleft{
    height:260px;
  }
}



/* media query 1280 */
@media screen and (max-width:1280px) {
  .carousel-slide {
    width: 50%;
  }
  
  .carousel-slide:nth-child(2n) {
    width: 50%;
  }
  
  .carousel-slide:nth-child(3n) {
    width: 50%;
  }

  .overlayright, .overlayleft{
    height:260px;
  }
}
