*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #121212;
    overflow-x: hidden;
}

.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{
    background:white;
    width:25px;
    border-radius: 20px;
    height: 10px;
}

.herocarousel{
    min-height:400px;
}

/* call to action cards section */
.ctaDivs{
    margin:15px 30px;
}

.ctaParagraphs{
    color:#B6B6B6;
    font-size:14px;
}

#depositRightArrow{
    margin-left:50px;
}


/* Best games section */
.BestCasinoGamesContainer{
    position:relative;
    padding-bottom: 10px;
    border-radius: 15px !important;
    background:'#121212';
    z-index:99999;
}

.bestgamesHeader{
    color:white;
    display:flex;
    justify-content: space-between;
    padding:50px 55px;
}

.bestgamesHeader select{
    background:#201F1F;
    color:white;
    font-family: 'Montserrat';
    border-radius: 5px;
    border: 0px;
    padding: 5px 10px;
    width:200px;
}

.bestGamesImg{
    height:100%;
    width:100%;
}

.bestGamesUnderline{
    border-color:#121212;
    margin:35px 0px;
}

.goToCasinoDiv{
    display:flex;
    color:white;
    justify-content: space-between;
    gap:40px;
    padding:15px;
}

.goToCasinoDiv p{
    max-width:70%;
}

.bgeclipse{    
    filter: blur(100px);
    filter: brightness(0.5);
    height:900px;
    width:500px;
    z-index: -99999999;
}

.eclipsediv{
    position:absolute;
    top:-15%;
    left:0%;
    z-index: -9999;
}

.bgeclipse2{    
    filter: blur(100px);
    filter: brightness(0.5);
    z-index: -99999999;
    transform:scale(-0.4)
}

.eclipsediv2{
    position:absolute;
    top:-15%;
    left:15%;
    z-index: -9999;
    max-height:400px;
    max-width:400px;
    display: none;
}

/* media query 1250 */
@media screen and (max-width:1250px) {
    .bgeclipse{    
        height:500px;
        width:350px;
    }
}


/* media query 1050 */
@media screen and (max-width:1050px) {
    .ctaHero{
        font-size:13px;
    }
}

@media screen and (max-width:930px) {
    .ctaHero{
        font-size:17.5px;
    }

    .goToCasinoDiv p{
        max-width:65%;
    }

    .goToCasinoDiv{
        gap:15px;
        padding:10px;
    }

    .bestGamesUnderline{
        margin:25px 0px;
    }
}
@media screen and (max-width:700px) {
    .goToCasinoDiv{
        flex-direction: column;
    }

    .goToCasinoDiv p{
        max-width:100%;
    }

    .bestGamesUnderline{
        margin-bottom:15px;
    }

    .bestGamesImg{
        max-height:100px;
    }
}

@media screen and (max-width:500px) {
    .ctaHero{
        font-size:14.5px;
    }
    #depositRightArrow{
        margin-left:10px;
    }

    .ctaDivs{
        margin:15px 15px;
    }

    .goToCasinoDiv p{
        font-size:13px;
    }
    
    .goToCasinoDiv{
        padding:5px;
    }

    .bgeclipse{    
        height:350px;
        width:250px;
    }

    .bestgamesHeader{
        padding:20px 10px;
    }
}

@media screen and (max-width:510px){
    .pseudoContainer{
        min-height: 350px;
        width:100%;
    }

    .eclipsediv{
        top:-10%;
        left:0%;
    }
}

@media screen and (max-width:560px){
    .pseudoContainer{
        min-height: 300px;
        width:100%;
    }
}

@media screen and (max-width:440px){
    .pseudoContainer{
        min-height: 270px;
        width:100%;
    }

    .eclipsediv2{
        display: block;
    }
}

@media screen and (max-width:370px){
    .pseudoContainer{
        min-height: 250px;
        width:100%;
    }
}

@media screen and (max-width:350px){
    .pseudoContainer{
        min-height: 225px;
        width:100%;
    }
}

@media screen and (max-width:320px){
    .pseudoContainer{
        min-height: 200px;
        width:100%;
    }
}

@media screen and (max-width:300px){
    .pseudoContainer{
        min-height: 180px;
        width:100%;
    }
}

@media screen and (max-width:280){
    .pseudoContainer{
        min-height: 160px;
        width:100%;
    }
}