*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #121212;

}

.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{
    background:white;
    width:25px;
    border-radius: 20px;
    height: 10px;
}

/* call to action cards section */
.ctaDivs{
    /* display:inline-block; */
    margin:15px 30px;
}

.ctaParagraphs{
    color:#B6B6B6;
    font-size:14px;
}

#depositRightArrow{
    margin-left:50px;
}


/* Best games section */
.BestCasinoGamesContainer{
    position:relative;
    padding-bottom: 10px;
    border-radius: 15px !important;
}

.bestgamesHeader{
    color:white;
    display:flex;
    justify-content: space-between;
    padding:50px 5px;
}

.bestgamesHeader select{
    background:#201F1F;
    color:white;
    font-family: 'Montserrat';
    border-radius: 5px;
    border: 0px;
    padding: 5px 10px;
    width:230px;
}

.bestGamesImg{
    height:100%;
    width:100%;
}

.bestGamesUnderline{
    border-color:#121212;
    margin:35px 0px;
}

.goToCasinoDiv{
    display:flex;
    color:white;
    justify-content: space-between;
    gap:40px;
    padding:15px;
}

.goToCasinoDiv p{
    max-width:70%;
}

@media screen and (max-width:1050px) {
    .ctaHero{
        font-size:13px;
    }
}

@media screen and (max-width:930px) {
    .ctaHero{
        font-size:17.5px;
    }

    .goToCasinoDiv p{
        max-width:65%;

    }

    .goToCasinoDiv{
        gap:15px;
        padding:10px;
    }

    .bestGamesUnderline{
        margin:25px 0px;
    }
}
@media screen and (max-width:700px) {
    .goToCasinoDiv{
        flex-direction: column;
    }

    .goToCasinoDiv p{
        max-width:100%;
    }

    .bestGamesUnderline{
        margin-bottom:15px;
    }

    .bestGamesImg{
        max-height:100px;
    }
}

@media screen and (max-width:500px) {
    .ctaHero{
        font-size:14.5px;
    }
    #depositRightArrow{
        margin-left:10px;
    }

    .ctaDivs{
        margin:15px 15px;
    }
}